# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Windows
Thumbs.db
Desktop.ini

# Nodejs
node_modules
bower_components

# IntelliJ
.idea/codeStyles/*.xml
.idea/*.iml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*.xml
.idea/typescript-compiler.xml
.idea/shelf/*

packages/*/*/**/*.js
packages/*/*/**/*.js.map
packages/*/dist

tests/**/*.js
tests/**/*.js.map
